.media_card_container {
  margin: 10px;
  width: 200px;
}

.media_card_image {
  height: 300px;
  border-radius: 10px;
}

.media_card_title {
  flex-wrap: wrap;
  text-decoration: none;
}

.media_card_text_container {
  padding: 5px;
}

.media_card_title:link {
  color: black;
}

.media_card_title:visited {
  color: black;
}

.media_card_title:hover {
  color: turquoise;
}

.media_card_release_date {
  margin-top: 5px;
}
