.person_page_container {
  display: flex;
  justify-content: center;
  margin: 50px auto 50px;
  width: 90%;
}

.person_name {
  margin: 0 0 20px 0;
}

.left_panel {
  width: 300px;
  padding: 10px;
  margin-right: 20px;
}

.left_info_section {
  margin-bottom: 30px;
}

.left_panel img {
  border-radius: 20px;
  width: 280px;
  margin-bottom: 10px;
}

.left_panel_text {
  padding-left: 5px;
}

.right_panel {
  width: calc(100vw - 80px - 300px);
  max-width: 920px;
  padding: 10px;
}

.right_panel .person_image_container .person_image_container_images {
  display: flex;
  overflow: scroll;
  height: 350px;
}

.right_panel .person_image_container {
  margin-top:20px
}

.right_panel .person_image_container .person_image_container_images img {
  width: 200px;
  padding-right: 10px;
  transition: 1s all;
  margin-top: 20px;
}

.right_panel .person_image_container .person_image_container_images img:hover {
  transform: scale(1.11)
}

.credits_container {
  margin-top: 50px;
}

.credits {
  display: flex;
  /* width: 500px; */
  overflow: scroll;
}

.socials {
  margin-bottom: 10px;
}

.social_icon {
  margin-right: 10px;
  width: 40px;
  height: 100%;
}

.social_icon:hover {
 background-color:turquoise;
}

.social_icon_div:link, .social_icon_div:visited{
  color: black;
}
